.subjects-manager-wrapper {
    height: 100%;
    min-height: 100vh;
}


.subjects-manager-wrapper button {
    cursor: pointer;
}

.subjects-manager-wrapper button:hover {
    box-shadow: inset 0px 0px 3px 0px black;
}

.subjects-manager-header {
    height: 101px;
    width: 100%;
    border-bottom: 1px solid black;
    background-color: #10151a;
    margin: 0px;
    padding: 0px;
}


.content-width-limiter{
    height: 100%;
    margin: 0px;
}

.content-width-limiter h1 {
    width: 100%;
    margin: 0px;
    padding-top: 10px;
    text-align: center;
    color: #F6F2F6;
    font: small-caps bolder 18px/1 sans-serif;
    text-shadow: 1px 1px 1px black;
}

.content-width-limiter h2 {
    width: auto;
    padding: 5px 35px;
    text-align: left;
    color: #F6F2F6;
    font: small-caps bold 13px/1 sans-serif;
    text-shadow: 1px 1px 1px black;
}

.subjects-table {
    width: 100%;
    height: 100%;
    color: black;
    background-color: #E3E8EB;
    border-collapse: collapse;
    border-left: 0px solid black;
}

.table-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

th {
    text-align: center;
    border: 1px solid black;
    border-top: unset;
    color: white;
    font-weight: 600;
    background-color: #16354D;
    text-shadow: 1px 1px 1px black;
}


.table-wrapper td, .table-wrapper tr {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    text-align: left;
    padding: 5px;
}

.table-wrapper tr:nth-child(odd) {
    background-color: #d1e0ed;
}

tr, th, td{
    box-sizing:border-box;
    border-left: 0px solid black;
    font-weight: 600;
}

.actionsColumn{
    width: 150px;
    text-align: center;
    padding: 0px !important;
}

.actionsColumn button {
    background-color: #E3E8EB;
    height: 100%;
    border-radius: 0px;
    border: 0px solid black;
    width: 50%;
    margin: 0px;
    padding: 0px;
    font-weight: 600;
}

.actionsColumn .edit-button {
    background-color: unset;
    color: #0e7ae6;
    font-weight: 800;
}

.actionsColumn .delete-button {
    background-color: unset;
    color: #ed1c38;
    font-weight: 800;
}

.stretch-row {
    height: 100%;
    background-color: #E3E8EB !important;
}

.subjects-manager-controls {
    display: flex;
    flex-direction: row;
    padding: 0px 0px;
    height: 35px;
    background-color: rgb(195, 197, 200);
    font: small-caps bolder 24px/1 sans-serif;
    color: #202124;
}


.subjects-manager-controls button {
    width: 151px;
    box-sizing: border-box;
    border-radius: 0px;
    border: unset;
    border-left: 1px solid black;
    text-shadow: 1px 1px 1px black;
    font-weight: 600;
    border-right: 1px solid black;
    background-color: #1C252C;
}

.subjects-manager-controls input {
    color: #E3E8EB;
    font-size: 14pt;
    font-weight: 500;
    padding-left: 15px;
    background-color: #1C252C;
    border: unset;
    width: auto;
    flex-grow: 1;
    text-shadow: 1px 1px 1px black;
}


.subjects-manager-controls input:focus {
    background-color: unset !important;
    border: unset !important;
    border-radius: 0px;
    width: 85%;
    color: black;
    text-shadow: unset;
}


.content-width-limiter hr {
    background-color: #F6F2F6 !important;
    border: 0px solid black;
    height: 1px;
    width: 95%;
}