.sheldure-page-wrapper{
    padding: 10px 50px;
}

.loading-message{
    font-size: 26pt;
    color: black;
    margin: auto 45%;
    padding: 40px 0px;
}

/*  ------------   Sheldure informations styles */
.sheldure-info {
    color: black;
    text-align: center;
}

.info-name-header {
    margin: 0px;
    font-size: 14pt;
}

.info-group-name {
    margin: 0px;
    font-size: 14pt;
    font-weight: 500;
}

.info-sheldure-name {
    margin: 0px;
    font-size: 14pt;
    font-weight: 500;
}

.info-sheldure-duration {
    margin: 0px;
    font-size: 12pt;
    font-weight: 400;
}

.info-current-date {
    margin: 0px;
    font-size: 12pt;
    font-weight: 400;
}

/*  ------------   Sheldure table styles */

.sheldure-table {
    margin: 10px auto;
    color: black;
    width: 100%;
    max-width: 1000px;
    border-collapse: collapse;
}

.sheldure-table td, tr {
    text-align: center;
    border: 1px solid #9db8e3;
}

.table-header-row {
    height: 30px !important;
    background-color: #d2ebfa;
    text-align: center;
    text-shadow: -1px 1px 1px 1px black;
    font-weight: 650;
    color: black;
}


.table-header-row td {
    width: 200px;
}

.sheldure-table tr:not(:first-child) td:hover {
    background-color: #dbeaff;
}

.sheldure-table tr:not(:first-child) {
    height: 90px;
}

.table-header-row td:first-child {
    width: 40px;
}

.sheldure-number {
    font-weight: 600;
    text-align: center;
    user-select: none;
}

.sheldure-time {
    font-weight: 400;
    color: #808080;
    user-select: none;
    font-size: 10pt;
}

.current-day {
    background-color: #dee0a6;
}

.scheldule-message{
    max-width: 1000px;
    text-align: justify;
    text-indent: 50px;
}

.center-wrapper{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    align-items: center;
}